@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Audio Player CSS */
.rhap_container {
  background-color: #111827 !important;
  color: #ffff !important;
  border-radius: 10px !important;
  padding: 16px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4) !important;
}

.rhap_progress-filled {
  background-color: #cc2828 !important;
}

.rhap_progress-bar {
  height: 6px !important;
  background: #444 !important;
  border-radius: 9999px !important;
}

.rhap_progress-indicator {
  background: #cc2828 !important;
  width: 14px !important;
  height: 14px !important;
  margin-top: -4px !important;
}

.rhap_main-controls-button {
  color: white !important;
}

.custom-skip-btn {
  background: transparent !important;
  color: white !important;
  font-size: 20px !important;
  border: none !important;
  cursor: pointer !important;
  padding: 0 8px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

