@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');


  
.font-outfit {
  @apply font-outfit;
}
  body {
  --white:#ffffff;
  --black:#000000;
  --gray:#cccccc;
  --gray2:#4D4D4D;
  --mint:#05EFB8;
  --pink:#F94F97;
  --yellow:#E6EA7B;
  --lightpink:#FFC4E2;
  --voilet: #8C52FF;
  --purple: #8C52FF;
  --body-font:'gulfs';
  --heading-font: 'gulfs';
  --para-font: 'CeraGRMedium';
  --parabold-font: 'CeraGRBold';
  --text-wh: #ffffff;
  --text-bl: #000000;
  --text-gray: #616161;
  --text-graydark: #333333;
  --text-paragraph:  #999999;
  --linear-gradient :linear-gradient(to right, #f9a8d4, #f9a8d4, #f472b6);
}

body{
  background-color: #000000;
}

.hero_bg{background:var(--linear-gradient);}
.detail_bg{background:var(--linear-gradient);}
.button-bg {background: var(--pink);color: var(--white);font-weight: 600;}
.button-bg:hover {background: var(--white);color: var(--pink);}
.paragraph {  font-family: Poppins; color:var(--text-paragraph);}
.heading{font-family: Inter;  color : var(--white);}
.sidebar{  box-shadow: 0px 4px 74px 0px #0000000D;}

.send {
  font-family: inherit;
  font-size: 20px;
  background: #4d36d0be;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

.send span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.8s ease-in-out;
}

.send svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send:hover span {
  transform: translateX(5em);
}

.send:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
